<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mainstyle.css">
    <title>Document</title>
</head>
<body>
    <div id="pantalla">

    </div>
    <div id="teclado">
        <button class="t-btn" id="t-btn-1">1</button>
        <button class="t-btn" id="t-btn-2">2</button>
        <button class="t-btn" id="t-btn-3">3</button>
        <button class="t-btn" id="t-btn-4">4</button>
        <button class="t-btn" id="t-btn-5">5</button>
        <button class="t-btn" id="t-btn-6">6</button>
        <button class="t-btn" id="t-btn-7">7</button>
        <button class="t-btn" id="t-btn-8">8</button>
        <button class="t-btn" id="t-btn-9">9</button>
        <button class="t-btn" id="t-btn-0">0</button>
    </div>
    <div id="operaciones">
        <button class="o-btn" id="o-btn-1">+</button>
        <button class="o-btn" id="o-btn-2">-</button>
        <button class="o-btn" id="o-btn-3">/</button>
        <button class="o-btn" id="o-btn-4">*</button>
    </div>
    <div id="igual">
        <button class="i-btn" id="i-btn-2">dlt</button>
        <button class="i-btn" id="i-btn-1">=</button>
    </div>
</body>
<script src="../script/main.js"></script>
</html>